.hero--section {
    background-image: url('../assets/glass_railing.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

/* our services section + child divs styles */

.our-services--section {
    background-image: url('../assets/our_services_background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

/* why choose us section */

.why-choose-us--section {
    background-image: url('../assets/pattern_red.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

.why-choose-us--icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    text-align: center;
}
